@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}
a {
    text-decoration: none;
}
ul li {
    list-style-type: none;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
.flex {
    display: flex;
    justify-content: space-between;
}
/* Navbar Part Css */
.navbar {
    padding: 25px 0px;
}
.nav-logo a span {
    font-weight: bold;
    font-size: 28px;
    color: orangered;
}
.navLink>ul>li{
    display: inline-block;
}
.navLink>ul>li>a {
    font-size: 18px;
    font-weight: 600;
    color: #1E1E1E;
    margin-left:30px;

}
.navLink>ul>li>a:hover {
    color: orangered;
}

/* Banner Part Css */
.banner {
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px 30px;
    border-radius: 15px;
    margin-bottom: 75px;
}
.banner_content {
    width: 60%;
}
.banner_content h3 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}
.banner_content h1 {
    font-size: 80px;
    font-weight: 700;
    color: #1E1E1E;
    padding-bottom: 20px;
}
.banner_content p {
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    padding-bottom: 20px;
}

.banner_content button {
    border-radius: 8px;
    border: 2px solid orangered;
    color: orangered;
    background: transparent;
    padding: 10px 15px;
    transition: all linear 0.2s;
}
.banner_content button a {
    color: orangered;
    font-weight: 500;
    font-size: 18px;
}
.banner_content button:hover {
    color: white;
    border: 2px solid white;
    background-color: orangered;
    color: white;
}
.banner_content button:hover a {
    color: white;
}


/* Heading Part */

.heading {
    text-align: center;
}
.heading h2 {
    font-size: 35px;
    font-weight: 700;
    color: #1E1E1E;
    padding-bottom: 18px;
}
.heading p {
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    padding-bottom: 22px;
}
/* About Part */
#about {
    background-color: antiquewhite;
    padding: 40px 30px;
    border-radius: 15px;
    margin-bottom: 75px;
 }
 .about_data {
    text-align: center;
 }
 .about_container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
 }
 .about_data p{
    font-size: 18px;
    font-weight: 400;
    color: #757575;
 }
 .about_data strong {
    font-size: 20px;
    color: #474747;
 }
 /* Skills Part */
 #skills {
    margin-bottom: 75px;
 }
 .gap {
    gap: 22px;
 }
 .skill-container  {
    border: 2px solid rgba(117, 117, 117, 0.433);
    border-radius: 8px;
    padding: 10px;
    text-align: center;
 }
 .skill-container i {
    font-size: 50px;
 }
 .skill-container h4 {
    font-size: 20px;
    font-weight: 700;
    color: #1E1E1E;
    padding: 10px 0px;
 }
 /* Contact Part */
 #contact {
    background-color: antiquewhite;
    padding: 90px;
 }
 .left-content {
    width: 50%;
 }
 .left-content h4 {
    font-size: 35px;
    font-weight: 700;
    color: #1E1E1E;
    padding-bottom: 15px;
 }
 .left-content p {
    font-size: 16;
    font-weight: 400;
    color: #757575;
    line-height: 28px;
    padding-bottom: 10px;
 }
 .left-content i {
    font-size: 28px;
    color: orangered;
    margin-right: 8px;
 }
 .right-content {
    width: 50%;
 }
 .right-content h4 {
    font-size: 35px;
    font-weight: 700;
    color: #1E1E1E;
    padding-bottom: 15px;
 }
 .right-content input {
    font-size: 16;
    font-weight: 400;
    color: #757575;
    border: none;
    padding: 20px 10px;
    margin-bottom: 10px;
    width: 100%;
 }
 .right-content button {
    border: none;
    background-color: orangered;
    padding: 10px 15px;
    color: aliceblue;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
 }
